name: Java CI with Gradle

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: self-hosted
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Build with Gradle Wrapper
      run: ./gradlew build
